<%= button_to "Volver", admin_information_index_path, method: :get , id:"btn-back-2" , class:"btn btn-primary"%>
<div class="container-fluid", id="container-information">
  <div id="id-informacion">
    <%= render 'form_information' %>  
  </div>
</div>
