<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
</footer>
  <!-- Section: Social media --> 