.form-check{
    display: flex;
}
#botonGuardarCurso{
    margin: 0;
    margin-bottom: 10px;
    background-color: green;
    border-color: green;
}
#centrarbotonGuardarCurso{
    display: flex;
    justify-content: center;
}
#centrar_boton_form{
    display: flex;
    justify-content: center;
}
#boton_Crear_Curso{
    margin: 0;
    margin-bottom: 20px;
    background-color: green;
    border-color: green;
}

#row-form{
    display: flex;
    margin-top: 20px;
}
#name_Course{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#columna-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#container-form-course{
    margin: 10px;
}
#botonVolver{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green;
    border-color: green;
}

