.form-check{
    display: flex;
}
#botonGuardarCurso{
    margin: 0;
    margin-bottom: 10px;
    background-color: green;
    border-color: green;
}
#centrarbotonGuardarCurso{
    display: flex;
    justify-content: center;
}
#centrar_boton_form{
    display: flex;
    justify-content: center;
}
#boton_Crear_Curso{
    background-color: green;
    border-color: green;
}