.form-check{
    display: flex;
}
#botonGuardarCurso{
    margin: 0;
    margin-bottom: 10px;
    background-color: green;
    border-color: green;
}
#centrarbotonGuardarCurso{
    display: flex;
    justify-content: center;
}
#columnaForm{
    display: flex;
    justify-content: left;
}