<div class="container-fluid">
  <%= link_to "Volver", admin_matters_path, id:"btn-back", class:"btn - btn-primary" %>
  <h5>Editar nombre de la materia </h5>
  <%= render "form" %>
</div>


<script>
function confirmDestroy(message) {
  if (!confirm(message)) {
    return false;
  }
}
</script>