<%= render 'layouts/navbar' %>
<h2>Materias</h2>
<div class = "div_home">
      <%= render @matters %>
</div>

<div class = "div_home">
     <%= render "form" %>
</div>
<br>


<%= render 'layouts/footer' %>