.text-reset {
     color: white!important; 
     text-decoration: none;
}
.text-muted {
     color: white!important;
}
p{
    color: white;
}
h6{
    color: white;
}
.border-bottom{
    border-bottom: none!important;
}