<%= render 'layouts/navbar' %>

<div class = "div_home">
    <section class = "menu_home">

        <aside class="aside_home">
            <%= button_to "Cursos", courses_path, method: :get %>
            <button class= "aside_home_button">guardar</button>
            <button class= "aside_home_button">guardar</button>
            <button class= "aside_home_button">guardar</button>
            <button class= "aside_home_button">guardar</button>
        </aside>

    </section>

    <section class = "img_home">

        <article class="img_home_article"></article>
        <section class="img_home_section"></section>
    </section>
</div>


<%= render 'layouts/footer' %>