#text-field{
    margin-top: 20px;
    margin-bottom: 20px;
}
#text-area{
    resize: none;
}
#boton_falta{
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-color: green;
    border-color: green;
}