.navbar{
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 50px;
    
}


.navbar-collapse {
    justify-content: center;
}

.rounded-circle{
    width: 80px;
    height: 80px;
}