#css-container {
    width: 100%;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:40px;
    padding-right:40px;
}

#columna-izquierda {
    text-align: center;
    box-shadow: 0 0 15px greenyellow;
    background: green;
    max-width: 180px;
    max-height: 405px;
}

#tabla {
    text-align: center;
}

#image {
    width: 200px;
    height: 200px;
    border-radius: 13px;
    /* border: 1px solid red */

}

#newfoto {
    width: 140px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#parrafo {
    color: black;
    padding: 10px;
}

.btn-light {
    border-radius: 0px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#columna-derecha {
    margin-right: 20px;
}

.col-derecha-contenido {
    padding: 10px;
}

#scroll {
    height: 500px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 5px;
    padding-top: 20px;
    
}

#div-img {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-radius: 15px;

}

#h5-img {
    text-align: center;
}
