<div id="formNuevoCurso">
    <%= simple_form_for [:admin, @course] do |f|%>
        <%= f.text_field :name_course, placeholder:'Nombre del curso' %>
        <%= f.submit 'Guardar' %>
    <% end%>
</div>