<div class= "container-fluid">
    <div class = "row">
        <div class = "col-4">
        <%= simple_form_for [:admin, @course] do |f| %>

            <%= f.input :name_course %>
            <%= f.association :matters,  as: :check_boxes, label_method: :name_matter, value_method: :id %>
           

            <%= submit_tag 'Guardar' %>

        <% end%>
    </div>
<div>

