
Vista con formulario de asignacion

<form>
 <input name= document <%= @documento %> >
 <button type=”submit”>Buscar</button>
</form>
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N° de documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        
        <th scope="col">Accion</th>
      </tr>
       <%= render "form_asignar_user"%>
    
  

