<div class="container-fluid" >
  <div class="row">
    <div class = "col-12">
      <%= button_to "Nuevo curso", new_admin_course_path, method: :get, class:"btn btn-primary", id:"botonNuevoCurso"%> 
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <%= render @courses %>
        </tbody>
      </table>
    <div>
  </div>
</div>
