<%= render 'layouts/navbar' %>

<div class = "div_home">
      <%= render @courses %>
</div>

<div class = "div_home">
      <%= button_to "Nuevo curso", new_admin_course_path, method: :get, class: "" %> 
</div>


<%= render 'layouts/footer' %>