<div class="container-fluid" >
  <h5>Curso: <%=  @course.name_course %></h5>
  <%= button_to "Volver", admin_courses_path(@course), method: :get, class: "btn btn-primary", id: "btn-back" %>
  <div class="row">
    <div class = "col-12">
      <br>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "course_matter", :collection => @matters, :as => :materia %>
        </tbody>
      </table>
    <div>
  </div>
</div>