
    Curso: <%=  @course.name_course %>
    <table>
        <tr>
            <th>
                <%= render :partial => "course_matter", :collection => @matters, :as => :materia %>
            </th>
        </tr>
    </table>

    
    <%= button_to "Agregar usuario", admin_course_asignar_user_path(@course), method: :get %>
    <%= button_to "Agregar materia", admin_course_asignar_path(@course), method: :get %>


