EL Curso

<%= @course.name_course %>

<table>
    <tr>
        <th>Materias</th>
    </tr>
    <tr>
        <td>Mate</td>
    </tr>
    
</table>

<%= link_to "Agregar", admin_course_asignar_path(@course) %>