<%=  @matter.name_matter %>
<%=  @course.name_course %>
<%# <%= button_to "editar lista de estudiantes", admin_course_users_url(@course, @user), method: :get%>  
<th>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">N° de documento</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
    </tr>
  </thead>
  <%= render "form_user"%>     
</table>
  
